<h1> <%= user.name%> </h1>
<% if user == current_user %>
  <%= link_to "Edit Profile", edit_user_registration_path %>
<% end %>
<!-- list all pets -->
<% if user == current_user %>
  <h1>Your Pets</h1>
<% else %>
  <h1><%= user.first_name  %>'s Pets</h1>
<% end %>

  <!-- list of this users pets -->
  <ul>
    <%= render user.pets %>
  </ul>

<!-- add a pet -->
<% if user == current_user %>
  <div class="add-pet">
    <%= link_to "Add Pet", new_pet_path %>
  </div>
<% end %>
<hr>

<!-- list all open requests -->
<% if user == current_user %>
  <h1>Open Requests</h1>
<% else %>
  <h1>Walks <%= user.first_name  %> Has Requested</h1>
<% end %>
<ul>
  <%= render user.active_requests %>
</ul>
<!-- list all closed requests for current user  -->
<% if user == current_user %>
  <h1>Closed Requests</h1>
  <ul>
    <%= render user.fulfilled_requests %>
  </ul>
<% end %>


<!-- make a walk request -->
<% if user == current_user %>
  <%= link_to "Make Walk Request", new_request_path %>
<% end %>

<!-- list all scheduled walks -->
<hr>
<h1>Dogs <%= user.first_name %> Will Walk:</h1>
<!-- show's message if no walks scheduled -->
<% if current_user.walks.length == 0 %>
 <em>You have no walks scheduled. Go walk someones pet!</em>
<% end %>
  <%= render user.pending_walks %>
