<!-- page-top start-->

<!-- Basic User Info -->
  <!-- ================ -->
  <div class="page-top">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="call-to-action">
            <h1 class="title"><%= user.name%></h1>

            <% if current_user.friend_of(user) || user == current_user %>
              <a class="btn btn-white user-info">
                User Info<i class="pl-10 fa fa-info"></i>
              </a>
            <% end %>
            <!-- <a class="btn btn-default">
            Add Friend<i class="pl-10 fa fa-paw"></i>
            </a> -->
            <% if user.pending_friends.include?(current_user) %>
            <div class="space"></div>
            <p><em>Friend Request Pending</em></p>
            <% elsif !current_user.friend_of(user) && user != current_user %>
              <div id="community-index-<%= user.id %>-message"></div>
              <div id="community-index-<%= user.id %>">
                <%= button_to friend_request_path, {remote: true, params: {friend_id: user.id}, class:"btn btn-default"} do %>
                Add Friend<i class="pl-10 fa fa-paw"></i>
                <% end %>
              </div>
            <% end %>
            <div id="show-peronal-info" style="display:none">
              <p>Address: <%= user.address1 || "n/a" %> <%= user.address2 %> <%= user.city %> <%= user.state %></p>
              <p>Email: <%= user.email || "n/a"%></p>
              <p>Phone: <%= user.phone_number || "n/a"%></p>
              <% if user == current_user %>
              <div class="call-to-action">
                </a>
                  <a class="btn btn-default more" data-toggle="modal" data-target="#editProfileModal">Edit Profile<i class="pl-10 fa fa-user"></i>
                </a>
              </div>
              <%= render 'users/editProfileModal'%>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- page-top end -->


  <!-- Show all pets -->
  <!-- main-container start -->
  <!-- ================ -->
  <section class="main-container gray-bg">

    <!-- main start -->
    <!-- ================ -->
    <div class="main">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center title">Pets</h1>
            <div class="row">
              <%= render user.pets %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- add a pet -->
    <% if user == current_user %>
    <div class="call-to-action">
      </a>
        <a class="btn btn-default more" data-toggle="modal" data-target="#addPetModal">Add Pet<i class="pl-10 fa fa-paw"></i>
      </a>
    </div>
    <% end %>
    <!-- main end -->
    <%= render 'users/addPetModal' %>


  </section>
  <!-- main-container end -->


<% if current_user.friend_of(user) || user == current_user %>
<!-- main-container start -->
<!-- ================ -->
<section class="main-container">

  <div class="container">
    <div class="row">

      <!-- main start -->
      <!-- ================ -->
      <div class="main col-md-12">

        <!-- page-title start -->
        <!-- ================ -->
        <h1 class="page-title text-center">Walks</h1>
        <p class="lead text-center">See All Of Your Requests and Walks</p>
        <!-- page-title end -->

        <!-- isotope filters start -->
        <div class="filters text-center">
          <ul class="nav nav-pills" id="walk-portfolio">
            <li class="active"><a href="#" data-filter="*">All</a></li>
            <% if user == current_user %>
              <li><a href="#" data-filter=".open-requests">Your Open Requests</a></li>
              <li><a href="#" data-filter=".closed-requests">Your Closed Requests</a></li>
            <% else %>
              <li><a href="#" data-filter=".open-requests"><%= user.first_name  %>'s' Walk Requests</a></li>
            <% end %>
            <li><a href="#" data-filter=".walks">Dogs <%= user == current_user ? "You" : user.first_name %> Will Walk:</a></li>
          </ul>
        </div>
        <!-- isotope filters end -->

      </div>
      <!-- main end -->
    </div>
  </div>

  <!-- section start -->
  <!-- ================ -->
  <div class="gray-bg section">
    <div class="container">
      <!-- portfolio items start -->
      <div class="isotope-container row equal-height-panels grid-space-10">
        <%= render user.active_requests %>
        <% if user == current_user %>
          <%= render user.fulfilled_requests %>
        <% end %>
        <%= render user.pending_walks %>
      </div>
      <!-- portfolio items end -->
    </div>
    <!-- make a walk request -->
    <% if user == current_user && current_user.pets.size > 0%>
    <div class="call-to-action">
      <a>
        <a class="btn btn-default more" data-toggle="modal" data-target="#requestModal">Request A Walk<i class="pl-10 fa fa-paw"></i>
      </a>
    </div>
    <%= render 'users/requestModal' %>
    <% end %>
  </div>
  <!-- section end -->
</section>
<% end %>
<!-- main-container end -->


<!-- list all scheduled walks -->
<!-- <hr> -->
<!-- <h1>Dogs <%#= user.first_name %> Will Walk:</h1> -->
<!-- show's message if no walks scheduled -->
<%# if current_user.walks.length == 0 %>
 <!-- <em>You have no walks scheduled. Go walk someones pet!</em> -->
<%# end %>
<!-- <div class="row"> -->
  <%#= user.pending_walks.each do |walk| %>
    <!-- <div class="col-xs-4"> -->
      <!-- <div class="panel panel-default"> -->
        <!-- <div class="panel-body"> -->
          <%#= render walk %>
          <!-- <hr> -->
          <%# link_to "View Walk Details", walk_path(walk) %>
        <!-- </div> -->
      <!-- </div> -->
    <!-- </div> -->
  <%# end %>
<!-- </div> -->
