<section class="main-container object-non-visible animated object-visible fadeInUpSmall" data-animation-effect="fadeInUpSmall" data-effect-delay="200" style="margin-top: 0px;">
  <h1> <%= user.name%> </h1>
  <a class="user-info">User Info</a><br>
  <div id="show-peronal-info" style="display:none">
    <p>Email: <%= user.email || "n/a"%></p>
    <p>Phone: <%= user.phone_number || "n/a"%></p>
    <p>Address: <%= user.address1 || "n/a" %> <%= user.address2 %> <%= user.city %> <%= user.state %></p>
  </div>
  <!-- allows signed in user to edit it's own profile -->
  <% if user == current_user %>
    <%= link_to "Edit Profile", edit_user_registration_path %>
  <% end %>
  <!-- list all pets -->

  <!-- section start -->
  <!-- ================ -->
  <div class="section clearfix">
    <div class="container">

      <% if user == current_user %>
        <h1>Your Pets</h1>
      <% else %>
        <h1><%= user.first_name  %>'s Pets</h1>
      <% end %>
      <div class="space"></div>

      <!-- list of this users pets -->

      <div class="row grid-space-20">
        <% user.pets.each do |pet| %>
          <%= render pet %>
        <% end %>
      </div>
      <div class="space"></div>
    </div>
  </div>
  <!-- section end -->
</section>


<!-- add a pet -->
<% if user == current_user %>
  <div class="add-pet">
    <%= link_to "Add Pet", new_pet_path %>
  </div>
<% end %>
<hr>

<!-- list all open requests -->
<% if user == current_user %>
  <h1>Open Requests</h1>
<% else %>
  <h1>Walks <%= user.first_name  %> Has Requested</h1>
<% end %>
<div class="row">
  <% user.active_requests.each do |request| %>
    <div class="col-xs-4">
      <div class="panel panel-default">
        <div class="panel-body" id="request-<%= request.id %>">
          <%= render request %>
          <%= link_to "See Details", request_path(request) %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<!-- list all closed requests for current user  -->
<% if user == current_user %>
  <h1>Closed Requests</h1>
  <div class="row">
    <% user.fulfilled_requests.each do |request| %>
      <div class="col-xs-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <%= render request %>
            <%= link_to "See Details", request_path(request) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>


<!-- make a walk request -->
<% if user == current_user %>
  <%= link_to "Make Walk Request", new_request_path %>
<% end %>

<!-- list all scheduled walks -->
<hr>
<h1>Dogs <%= user.first_name %> Will Walk:</h1>
<!-- show's message if no walks scheduled -->
<% if current_user.walks.length == 0 %>
 <em>You have no walks scheduled. Go walk someones pet!</em>
<% end %>
<div class="row">
  <% user.pending_walks.each do |walk| %>
    <div class="col-xs-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= render walk %>
          <hr>
          <%= link_to "View Walk Details", walk_path(walk) %>
        </div>
      </div>
    </div>
  <% end %>
</div>
