<h1>Community</h1>
  <%= form_tag users_path, :method => :get do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search Near", :name => nil %>
    </p>
  <% end %>
  <% @users.each do |owner| %>
    <%= owner.name %>
  <% end %>
<div class="row">
  <% @users.each do |user| %>
    <div class="col-xs-4 text-center">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title "><%=link_to user.name, user_path(user) %></h3>
          <p><%= user.first_name %>'s Walk Karma: <%= user.karma %></p>
        </div>
        <div class="panel-body">
          <h4>Pets</h4>

            <%= render user.pets %>

          <p><strong><%= link_to "#{user.first_name}'s Open Requests: #{user.num_active_requests}", user_path(user)%></strong></p>

        </div>
      </div>
    </div>
  <% end %>
</div>
