
<!-- main-container start -->
<!-- ================ -->
<section class="main-container">

  <div class="container">
    <div class="row">

      <!-- main start -->
      <!-- ================ -->
      <div class="main col-md-12">

        <!-- page-title start -->
        <!-- ================ -->
        <h1 class="text-center title">Community</h1>
        <p class="text-center title">Dog Watch Members<br class="hidden-sm hidden-xs"></p>
        <!-- page-title end -->

      </div>
      <!-- main end -->
    </div>
  </div>

  <%= form_tag users_path, :method => :get do %>
  <p>Find dog owners and walkers near you.</p>
  <%= label_tag :search, "Find users within: " %>
  <%= number_field_tag :search, params[:search] %> miles
  <br>
  <%= submit_tag "Search", class:"btn btn-default", :name => nil %>
  <% end %>
  <!-- section start -->
  <!-- ================ -->
  <div class="gray-bg section">
    <div class="container">
      <!-- portfolio items start -->

      <div class="isotope-container row grid-space-10">
        <!-- All members block -->
        <% @users.each do |user| %>
        <div class="col-sm-6 col-md-4 isotope-item app-development">
          <div class="box-style-1 white-bg">
            <h2 class="text-center title"><%=link_to user.name, user_path(user) %></h2>
            <p><%= user.first_name%> has <%=pluralize(user.pets.size, "pup") %>.</p>
            <p><%= user.first_name %>'s Walk Karma: <%= user.karma %></p>
            <p><strong><%= link_to "#{user.first_name}'s Open Walk Requests: #{user.num_active_requests}", user_path(user)%></strong></p>
          </div>
        </div>
        <% end %>
      </div>
      <!-- portfolio items end -->
    </div>
  </div>
  <!-- section end -->
</section>
<!-- main-container end -->
