<h1>Sign Up</h1>

<%= form_for @user do |f| %>
  <div class="first-name">
    <%= f.label :first_name, "First Name" %>
    <%= f.text_field :first_name %>
  </div>
  <div class="last-name">
    <%= f.label :last_name, "Last Name" %>
    <%= f.text_field :last_name %>
  </div>
  <div class="email">
    <%= f.label :email%>
    <%= f.email_field :email %>
  </div>
  <div class="password">
    <%= f.label :password%>
    <%= f.password_field :password %>
  </div>
  <div class="password-confirmation">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit "Sign Up" %>
  </div>
<% end %>
