<div class="col-sm-6 col-md-4 isotope-item <% if request.active? %>open-requests<% else %>closed-requests <% end %>">
  <div class="box-style-1 white-bg">
    <h3>Request to walk <%= pluralize(request.owner.pets.size, "pup") %> for <%= request.owner.name %></h3>

    <%# link_to "See Details", request_path(request), data:{no_turbolink: true} %>
    <br>
    <strong>Start Time: </strong><%= request.start_time.strftime("%b %e, %l:%M %p")  %>
    <br>
    <strong>End Time: </strong><%= request.end_time.strftime("%b %e, %l:%M %p")  %>

    <% if request.pickup %>
      <p>
        Pick up the pups from <%= request.owner.first_name %>
      </p>
    <% else %>
      <p>
        <%= request.owner.first_name %> will bring the pups to you.
      </p>
    <% end %>
    <% if request.active? %>
      <div class="accept-request">
        <%= button_to walks_path, remote: true, class:"btn btn-default", params: {request_id: request.id} do %>
          Accept Walk Request
        <% end %>
      </div>
    <% else %>
      <p><%= request.walk.walker.first_name %> will walk the pups</p>
      <div class="space"></div>
    <% end %>
  </div>
</div>
