<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>iDea | Page Login</title>
		<meta name="description" content="iDea a Bootstrap-based, Responsive HTML5 Template">
		<meta name="author" content="htmlcoder.me">

		<!-- Mobile Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Web Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>

	</head>

	<body class="full-height no-trans">

		<!-- page wrapper start -->
		<!-- ================ -->
		<div class="page-wrapper">

			<!-- main-container start -->
			<!-- ================ -->
			<section class="main-container">

				<div class="container">
					<div class="row">

						<!-- main start -->
						<!-- ================ -->
						<div class="main object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="300">
							<div class="form-block center-block">
								<h2 class="title">Login</h2>
								<hr>
                <%= form_for(resource, as: resource_name, url: session_path(resource_name),  html:{class:"form-horizontal", role:"form"}) do |f| %>
								<form class="form-horizontal">
									<div class="form-group has-feedback">
                    <%= f.label :email, class:"col-sm-3 control-label" do %>
										E-mail<span class="text-danger small">*</span><% end %>
										<div class="col-sm-8">
                      <%= f.email_field :email, class:"form-control", id:"email", placeholder:"E-mail"  %>
											<i class="fa fa-user form-control-feedback"></i>
										</div>
									</div>
                  <div class="form-group has-feedback">
                    <%= f.label :password, class:"col-sm-3 control-label" do %>
                    Password<span class="text-danger small">*</span><% end %>
                    <div class="col-sm-8">
                    <%= f.password_field :password, class:"form-control", id:"password", placeholder:"Password"  %>
                    <i class="fa fa-lock form-control-feedback"></i>
                    </div>
                  </div>
									<div class="form-group">
										<div class="col-sm-offset-3 col-sm-8">
											<div class="checkbox">
												<label>
                          <% if devise_mapping.rememberable? %>
													<input type="checkbox" required> Remember me.
                          <% end %>
                        </label>
											</div>
                      <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-8">
                        <%= f.submit "Log In", class:"btn btn-group btn-default" %>
                        </div>
                      </div>
											<ul>
												<a href="<%=new_user_password_path%>" >Forgot your password?</a>
											</ul>
											<span class="text-center text-muted">Login with</span>
											<ul class="social-links colored circle clearfix">
												<li class="facebook"><a target="_blank" href="<%= user_omniauth_authorize_path(:facebook) %>"><i class="fa fa-facebook"></i></a></li>
											</ul>
										</div>
									</div>
								</form>
                <% end %>
							</div>
							<p class="text-center space-top">Don't have an account yet? <a href="page-signup.html">Sing up</a> now.</p>
						</div>
						<!-- main end -->

					</div>
				</div>
			</section>
			<!-- main-container end -->

		</div>
		<!-- page-wrapper end -->
	</body>
</html>
