<div class="col-sm-6 col-md-4 isotope-item walks">
  <!-- Message tags -->
  <div id="request-<%= walk.id %>-message"></div>
  <div id="request-<%= walk.id %>">
    <div class="box-style-1 white-bg">
      <!-- Main Info -->
      <% if walk.walker == current_user %>
        <h3>You will walk <%= pluralize(walk.pets.size, "pup") %> for <%= walk.request.owner.first_name %></h3>
      <% else %>
        <h3><%= walk.walker.first_name %> will walk <%= walk.pets.size %> pups for <%= walk.request.owner.first_name %></h3>
      <% end %>
      <%# link_to "See Details", walk_path(walk), data:{no_turbolink: true} %>
      <br>

      <!-- Walk Times -->
      <br>
      <strong>Start Time: </strong><%= walk.request.start_time.strftime("%b %e, %l:%M %p")  %>
      <br>
      <strong>End Time: </strong><%= walk.request.end_time.strftime("%b %e, %l:%M %p")  %>

      <!-- Pick up or Drop Off -->
      <% if walk.request.pickup %>
        <p>Pick up the pups from <%= walk.request.owner.first_name %></p>
      <% else %>
        <p><%= walk.request.owner.first_name %> will bring the pups to you.</p>
      <% end %>

      <!-- shows button to walk the dog -->
      <% if walk.walker == current_user %>
        <%= form_for walk, remote: true do |f| %>
          <%= f.submit "Click When You Finish Walk", class:"btn btn-default" %>
        <% end %>
      <% end %>
      <br>
    </div>
  </div>
</div>
