<!-- header-top start (Add "dark" class to .header-top in order to enable dark header-top e.g <div class="header-top dark">) -->
<!-- ================ -->
<div class="header-top dark">
  <div class="container">
    <div class="row">
      <div class="col-xs-2  col-sm-6">

        <!-- header-top-first start -->
        <!-- ================ -->
        <div class="header-top-first clearfix">
            <p><%= current_user.name if user_signed_in? %></p>
        </div>
        <!-- header-top-first end -->

      </div>
      <div class="col-xs-10 col-sm-6">

        <!-- header-top-second start -->
        <!-- ================ -->
        <div id="header-top-second"  class="clearfix">

          <!-- header top dropdowns start -->
          <!-- ================ -->
          <div class="header-top-dropdown">
            <% if user_signed_in? %>
            <div class="btn-group dropdown">
              <button type="button" class="btn"><i class="fa fa-user"></i><%= link_to "Logout", destroy_user_session_path, method: :delete %></button>
            </div>
            <% else %>
            <div class="btn-group dropdown">
              <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Login</button>
              <ul class="dropdown-menu dropdown-menu-right dropdown-animation">
                <li>
                  <%= form_for(User.new, url: user_session_path, html:{class:"login-form"}) do |f| %>
                    <div class="form-group has-feedback">
                      <%= f.label :email, class:"control-label" %>
                      <%= f.email_field :email, autofocus: true, class:"form-control", placeholder:""  %>
                      <i class="fa fa-user form-control-feedback"></i>
                    </div>

                    <div class="form-group has-feedback">
                      <%= f.label :password, nil, class: "control-label" %>
                      <%= f.password_field :password, autocomplete: "off", class:"form-control", placeholder:""  %>
                      <i class="fa fa-user form-control-feedback"></i>
                    </div>

                    <div class="actions">
                      <%= f.submit "Log in", class:"btn btn-group btn-light-gray btn-sm" %>
                      <span>or</span>
                      <%= link_to "Sign Up", new_user_registration_path, class:"btn btn-group btn-default btn-sm" %>
                    </div>

                    <div class="divider"></div>
                    <span class="text-center">Login with</span>
                    <ul class="social-links clearfix">
                      <li class="facebook"><a target="_blank" href="<%= user_omniauth_authorize_path(:facebook) %>"><i class="fa fa-facebook"></i></a></li>
                    </ul>
                  <% end %>
                </li>
              </ul>
            </div>
            <% end %>
          </div>
          <!--  header top dropdowns end -->

        </div>
        <!-- header-top-second end -->

      </div>
    </div>
  </div>
</div>
<!-- header-top end -->

<!-- header start classes:
  fixed: fixed navigation mode (sticky menu) e.g. <header class="header fixed clearfix">
   dark: dark header version e.g. <header class="header dark clearfix">
================ -->
<header class="header fixed clearfix">
  <div class="container">
    <div class="row">
      <div class="col-md-3">

        <!-- header-left start -->
        <!-- ================ -->
        <div class="header-left clearfix">

          <!-- logo -->
          <div class="logo">
            <%= link_to image_tag("http://plainicon.com/dboard/userprod/2805_fce53/prod_thumb/plainicon.com-50832-64px-6f0.png"), root_path, data: {no_turbolink: true}%>
          </div>

          <!-- name-and-slogan -->
          <div class="site-slogan">
            Community Dog Walking
          </div>

        </div>
        <!-- header-left end -->

      </div>
      <div class="col-md-9">

        <!-- header-right start -->
        <!-- ================ -->
        <div class="header-right clearfix">

          <!-- main-navigation start -->
          <!-- ================ -->
          <div class="main-navigation animated">

            <!-- navbar start -->
            <!-- ================ -->
            <nav class="navbar navbar-default" role="navigation">
              <div class="container-fluid">

                <!-- Toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                </div>

                <% if user_signed_in? %>
                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse" id="navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">

                      <li class="active"><%= link_to "Community", users_path,data: {no_turbolink: true}%>
                      <span class="sr-only">(current)</span></li>
                      
                      <li class="active"><%= link_to "Requests", requests_path, data: {no_turbolink: true}%><span class="sr-only">(current)</span></li>
                      
                      <!-- Notifications Drop Down-->
                      <li class="dropdown">
                        <a href=<%= notifications_index_path %> class="dropdown-toggle" data-toggle="dropdown">Notifications</a>
                        
                        <ul class="dropdown-menu">
                          <% current_user.notifications.reverse_each do |notif| %>
                            <li><a href=<%=walk_path(notif.walk) if notif.walk %>><%= notif.truncated %></a></li>
                          <% end %>
                        </ul>
                      </li>
                      <!-- Notifications Dropdown end -->

                    </ul>
                  </div>
                <% end %>

              </div>
            </nav>
            <!-- navbar end -->

          </div>
          <!-- main-navigation end -->

        </div>
        <!-- header-right end -->

      </div>
    </div>
  </div>
</header>
<!-- header end -->
